In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2==0:
        return min (a,b)
    else:
        return max(a,b)

In [2]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(7,5)

7

In [19]:
def animal_crackers(text):
    word_list = text.lower().split()
    
    return word_list[0][0] == word_list[1][0]

In [20]:
animal_crackers('Levelheaded Llama')

True

In [24]:
animal_crackers('Crazy Kangaroo')

False

In [28]:
def makes_twenty (n1,n2):
    if n1+n2 ==20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False
    
#def makes_twenty (n1,n2):
#    return (n1+n2)==20 or n1 == 20 or n2 == 20

In [33]:
makes_twenty(10,20)

True

In [31]:
makes_twenty(2,3)

False

In [36]:
def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [37]:
old_macdonald('macdonald')

'MacDonald'

In [51]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [52]:
master_yoda('I am home')

'home am I'

In [53]:
master_yoda('We are ready')

'ready are We'

In [48]:
mylist = ['a','b','c']

In [50]:
' '.join(mylist)

'a b c'

In [54]:
def almost_there(n):
    return (abs(100-n) <=10) or (abs(200-n) <= 10)

In [55]:
almost_there(104)

True

In [56]:
almost_there(150)

False

In [57]:
almost_there(209)

True

In [70]:
def has_33(nums):
    for i in range (0,len(nums)-1):
        if nums[i] ==3 and nums [i+1] ==3:
            return True
    return False

In [71]:
has_33([1,3,3])

True

In [72]:
has_33([1,3,1,3])

False

In [73]:
has_33([3,1,3])

False

In [74]:
def paper_doll(text):
    result=''
    for char in text:
        result += char*3
    return result

In [75]:
paper_doll('Hello')

'HHHeeellllllooo'

In [76]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [80]:
def blackjack (a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c]) -10
    return 'Bust'

In [81]:
blackjack(5,6,7)

18

In [82]:
blackjack(9,9,9)

'Bust'

In [83]:
blackjack(9,9,11)

19

In [1]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            for num!= 6:
                total += num
                break
            else:
                add = False
        while not add: if num

SyntaxError: invalid syntax (<ipython-input-1-79cbd43c58d0>, line 6)