In [1]:
2==2

True

In [2]:
2==1

False

In [4]:
'hello' == 'bye'

False

In [5]:
1<2

True

In [6]:
2<3

True

In [7]:
1<2 and 2<3

True

In [8]:
1<2<3

True

In [9]:
if True:
    print('ITS TRUE')

ITS TRUE

In [16]:
hungry = True

if hungry:
    print('feed me')
else: 
    print('Im not hungry')

feed me

In [23]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print ("I do not know much.")

Cars are cool!

In [27]:
name = 'Jose'

if name =='Frankie':
    print("Hello Frankie")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print ("What is your name?")

What is your name?

In [31]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [34]:
for jelly in mylist:
    print (jelly)

1
2
3
4
5
6
7
8
9
10

In [37]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number {num}')

odd number 1
2
odd number 3
4
odd number 5
6
odd number 7
8
odd number 9
10

In [40]:
list_sum = 0

for num in mylist:
    list_sum = list_sum+num
    
print(list_sum)

55

In [41]:
mystring = 'Hello World'

for letter in mystring:
    print (letter)

H
e
l
l
o

W
o
r
l
d

In [43]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [44]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [45]:
len(mylist)

4

In [46]:
for item in mylist:
    print (item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [47]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [48]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [50]:
for a,b,c in mylist:
    print(b)

2
6
9

In [54]:
d = {'k1':1, 'k2':2,'k3':3}

for key,value in d.items():
    print (value)

1
2
3

In [60]:
x = 50

while x<5:
    print(f'the current value of x is {x}')
    #x= x+1
    x+=1
else: print('X is not less than 5')

X is not less than 5

In [62]:
x = [1,2,3]

for item in x:
    pass
print('end of my script')

end of my script

In [63]:
mystring = 'Sammy'

In [66]:
for letter in mystring:
    if letter =='a':
        break
    print(letter)

S

In [2]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [3]:
mylist = [1,2,3]

In [7]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [8]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [10]:
index_count = 0


for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [17]:
mylist1 = [1,2,3]
mylist2=['a','b','c']
mylist3 = [100,200,300]

In [18]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [16]:
word = 'abcdef'

for value,letter in enumerate(word):
    print(value)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f

In [22]:
2 in [1,2,3]

True

In [21]:
'x' in ['x','y','z']

True

In [23]:
'a' in 'a world'

True

In [25]:
'mykey' in {'mykey':345}

True

In [28]:
d = {'mykey':345}

345 in d.keys()

False

In [29]:
mylist = [10,20,30,40,100]

In [30]:
min(mylist)

10

In [31]:
max(mylist)

100

In [32]:
from random import shuffle

In [33]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [36]:
shuffle(mylist)

In [37]:
mylist

[10, 8, 1, 2, 6, 7, 3, 4, 5, 9]

In [38]:
 from random import randint

In [39]:
randint(0,100)

92

In [41]:
result = input('What is your name?')

What is your name?Jose